.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  border: #e6d8c9;
  border-style: double;
  border-radius: 25px;
  background-image: url(images/flower.jpeg);
  background-position: right bottom, left top; 
  background-repeat: no-repeat; 
 /* padding: 15px; */
}

  body { 
      background-color: #cfcfcf;
       margin-top: 0.0em; 
       
        background-image: url(images/wood.jpg);
          background-position: center;
background-repeat: repeat;
background-size: cover;
position: relative;
} 
div{
  display : inline-flexbox;
}

ul { 
  list-style-type: none;
}

a:hover {
  background-color: lightgreen;
} 
 
a{
    text-decoration-line: none;
}
section{
  border:grey;
  border-style:solid;
  border-radius: 25px;
}
image{
  display: block;
  margin-left: auto;
  margin-right: auto; 
  border: 1px solid #ddd;
  border-radius: 40px;
  padding: 5px;
  max-width: 100%;
  height: auto;
  
  
    
}
h2{
  font-style: italic;
  padding-left: 20px;
  
}
p{
  font-style: oblique;
  padding-left: 20px;
}
figcaption
{
  background-color:burlywood;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center
}

.content {
  display: flex;
}

.inner-content {
  flex: 1;
}

.image-style {
  max-width: 100%;
}
img {
max-width: 100%;
/* height: auto;
width :auto; */
display: block;
margin: 0;
border-radius : 20px;
}